*{
    margin: 0;
}

body{   
    background: #170224;
}

.wrapper {
    display: flex;
    top: 2;
}
  
.left-menu {
    width: 20%; 
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 3%;
    color: white;
    padding: 20px;
    padding-top: 1.6rem;
    margin: 1.2%;
    display: flex;
    flex-direction: column; 
    border-radius: 5%;
    background: rgb(1,1,1);
    background: radial-gradient(circle, rgba(1,1,1,0.6782310336243873) 0%, rgba(10,0,30,0.9583430784423145) 100%);
}

.left-menu .mainMenu{
    text-decoration: none;
    margin-bottom: 3rem;
    text-align: left;
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 210ms;
}   

.left-menu .mainMenu:hover{
    opacity: 75%;
}


.left-menu i{
    padding-right: 0.5rem;
}

#menuLogo{
    height: 6.25rem;
}

#menuLogo > img{
    margin-bottom: 3rem;
    width:80%;
    padding-left: 2rem;
}

.widgets{
    height: 1.875rem;
}

.widgets a{
    float: right;
    padding-left: 0.65rem;
}
.widgets a:hover{
    opacity: 75%;
}


.right-menu{
    width: 20%;
    height: fit-content;
    background: rgb(1,1,1);
    background: radial-gradient(circle, rgba(1,1,1,0.6782310336243873) 0%, rgba(10,0,30,0.9583430784423145) 100%);
    margin-top: 1.5%;
    margin: 1.2%;
    border-radius: 5%;
    position: sticky;
    position: -webkit-sticky;
    top: 3%;
}

.nav{
    width:100%;
    height: 10%;
}

li > a{
    color:rgba(255, 255, 255, 0.69);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: 200ms ease-in-out;
}
.mainContent{
    width: 60%;
    height: 100%;
    background: rgb(1,1,1);
    background: radial-gradient(circle, rgba(1,1,1,0.6782310336243873) 0%, rgba(10,0,30,0.9583430784423145) 100%);
    margin-top: 1.2%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}    

.mainContent > .nav_links{
    width: 100%;
}

.nav_links{
    list-style: none;
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}

.nav_links li{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
}

li > a:hover{
   color: white;
}

.contentCard{
    padding-left: 2rem;
    padding-right: 2rem;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.17);
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgb(56, 67, 77);
}

.horizontal-top{
    display: flex;
    align-items: center;
}

.horizontal-top a{
    color:rgba(255, 255, 255, 0.69);
    font-family: Inter;
    font-size: 16   px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}

.horizontal-top img{
    height: 45px;
    margin: 2%;
}

.horizontal-top #more-options{
    margin-left: 65%;
}

.horizontal-middle {
    width: 100%;
    display: flex;
    padding-bottom: 2%;
    justify-content: center;
}

.horizontal-middle img{
    width: 85%;
}

.friends, .adverts{
    text-decoration: none;
    margin-bottom: 3rem;
    text-align: left;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.search input{
    position: relative;
    margin: 5% 0% 5% 5%;
    border-radius: 100px 0 0 100px;
    background-color: #8700f62e;
    backdrop-filter: blur(100px);
    opacity: 100%;
    width: 70% ;
    height: 38px;
    flex-shrink: 0;
    border:none;
    padding-left: 10%;
    color: #ffffffaf;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.search input::placeholder{
    color: #ffffffaf;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.search input:focus{
    outline: whie;
}

.search button{
    border-radius: 0 100px 100px 0;
    background-color: #1000f663;
    backdrop-filter: blur(100px);
    opacity: 100%;
    width: 20%;
    height: 38px;
    flex-shrink: 0;
    border:none;
    cursor: pointer;
    transition: background-color 200ms;
    transform: translateY(-1px);
}

.search button:hover{
    background-color: #1004bb63;
}

.horizontal-bottom{
    display: flex;
    height: 2.5rem;
    width: fit-content;
    background-color: rgba(128, 128, 128, 0.11);
    align-items: center;
    justify-content: center;
    border-radius: 10%;

}

.horizontal-bottom i{
    margin-right: 20%;
}