#loginBox{
    width: 450px;
    height: 550px;
}

.logBox{
    margin-top: 35px;
}

#logoTxt{
    transform: translateY(-510%);
}

.form{
    margin-top: 10px;
    margin-left: 100px;
}

input{
    width: 260px;
}

#dob input{
    width: 125px;
}

#pass input{
    width: 125px;
    margin-left: 0px;
    transform: translateX(-90px);
}

#pass label{
    transform: translateX(-90px);
}

#pass a{
    transform: translateX(-90px);
}

.inputContainer{
    display: flex;

}

input{
    height: 35.475px;
}

#submitbtn{
    margin-left: 170px;
}

#Conwith{
    margin-left: 35px;
}

#ConButtons{
    margin-left: 95px;
}